.reviews-list {
  font-size: 10px;
}
.reviews-item {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
.reviews-text {
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
